@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Nunito', sans-serif!important;
    background: #fff!important;
}
html{
    font-family: 'Nunito', sans-serif!important;
}
* {
    margin: 0;
    padding: 0;
}
.header-bg {
    background-color: #4E4E4E;
    color: white;
}
.about-menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.about-menu li a {
    padding-right: 10px;
    font-size: 12px;
    color: white;
}
.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 17px;
    background-color: #FFFFFF;
}
.logo {
    color: black;
    font-size: 25px;
    font-weight: 600
}

.brand-wrap {
    text-decoration: none !important
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px
}
.drop a{
    text-transform: revert;
    color: black;
}
.drop span{
    text-transform: revert;
    color: black;   
}
.drop .nav-link {
    display: block;
    padding: 5px 0 0 24px;
}
.select-city{
    border: none;
    padding: 0 0 0 1px;
    font-size: 16px;
}
.nav-user-img i{
    font-size: 17px;
    padding: 0px 5px 0 0px;
}
.nav-user-img span{
    font-size: 14.6px;

}
@media only screen and (max-width: 600px) {
    .drop a {
        padding: 0 0 0px 20px;
    font-size: 12px;
}
}


.search-form {
    border: 1px solid #ffffff !important
}
.search-btn-icon{
    position: absolute;
    right: 28px;
    top: 10px;
    border: none;
    background: none;
}

.navbar-center { 
    position: absolute; 
    left: 50%; 
    transform: translatex(-50%); 
}
@media only screen and (max-width: 1250px) {
    .navbar-center{ 
        position: absolute!important;
        left: 13%!important;
        transform: translatex(0%)!important;

  }
}
@media only screen and (max-width: 600px) {
    .navbar-center{ 
        position: inherit !important;
        left: 0% !important;
        transform: translatex(0%) !important;

  }
}
/* benner */
.navbar-main .nav-item .nav-link{
    color: black;

}
.benner-slider .carousel-item img{
    height: 550px!important;
}
@media only screen and (max-width: 600px) {
    .benner-slider .carousel-item img{
        height: 230px!important;
    }
    .pink-box-product img {
        margin-left: 17px!important;
    }

  }
.carousel-indicators {
    bottom: -55px!important;
}
.carousel-indicators li {
    background-color: #9a9a9a!important;
    width: 8px!important;
    height: 8px!important;
    border-radius: 50%!important;
}
.carousel-indicators li:active{
    background-color: red !important;
}

/* product card */
.mtb50{
    margin: 31px 0;
}

.home-product-title{
    font-size: 31px;
    color: black;
    font-weight: bolder;
}
.product-quntity input{ 
    width: 50px;
    border: none;
    text-align: center;
    font-size: 19px;
    color: black;
    font-weight: bold;
    margin: 0 -13px 0px 1px;
}
.product-box{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    padding: 14px;
    margin: 4px 0 2px 0px;

}
.card-space{
    padding: 10px!important;
}
.product-box img{
    width: 114px;
    padding: 13px;
    margin-left: 50px;
}
.pro-cat h5{
    font-size: 13px!important;
}
.product-box h5{
    font-size: 17px;
    color: black;
    font-weight: 600;
    line-height: 4px;
    margin-top: 8px;
    font-family: 'Raleway', sans-serif;
}
.product-box h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
    padding: -1px;
    margin: 0px;
}


.product-box-cat-page{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    padding: 14px;
    margin: 4px 0 2px 0px;

}
.product-box-cat-page img{
    width: 114px;
    padding: 13px;
    margin-left: 50px;
}
.pro-cat h5{
    font-size: 13px!important;
}
.product-box-cat-page h5{
    font-size: 17px;
    color: black;
    font-weight: 600;
    line-height: 4px;
    margin-top: 8px;
    font-family: 'Raleway', sans-serif;
}
.product-box-cat-page h3 {
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    padding: -1px;
    margin: 0px;
}


.product-discunt span{
    background: #F76263 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: white;
    padding: 3px 10px;
}
.quntity{
    border: none;
    padding: 1px 9px;
    border-radius: 48%;
    font-size: 18px;
    font-weight: 800;
    background: #f3f3f3;
}
.btn-addcart{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F76263;
    border-radius: 10px;
    color: #F76263;
    padding: 8px 0;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 700;
    margin: 7px 0 0 0;  
}
.product-detail-img img{
    margin: 0 0 0 140px;
}
.product-detail-img .carousel-control-next-icon {
    background-image: url(../../public/images/icons/next.png)!important;
}
.product-detail-img .carousel-control-prev-icon {
    background-image: url(../../public/images/icons/left.png)!important;
}
 .grocery-staples{
    /* display: flex;
    justify-content: center;
    background: #FFD8D8;
    height: 211px; */
    padding: 10px !important;
    }
.pink-box-product{
    border-radius: 5px;
    padding: 14px;
    margin: 4px 0 2px 0px;
    background: #FFD8D8;
}
.pink-box-product img{
    width: 119px;
    padding: 14px;
    margin-left: 58px;
}


/* 
.pink-grocery-staples img{
    width: 146px;
    margin: 37px 0 0 0;
} */

.bg-white {
    background: #fff;
}

.p-60 {
    padding: 60px 0px;
}
.bg-white {
    background-color: #fff !important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.section-tital {
    font-size: 24px;
    color: #3a474e;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-prev, .slick-next {
    top: -10% !important;
}

.slick-prev {
    width: 40px !important;
    height: 40px !important;
    background: #fff !important;
    box-shadow: 0 0 20px hsl(0deg 0% 40% / 12%) !important;
    border-radius: 50% !important;
    z-index: 1;
    transition: all 0.5s;
    right: 60px !important;
    left: auto;
}
.slick-prev {
    left: -25px;
}
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content: "" !important;
}
.slick-prev:before, .slick-next:before {
    color: #000 !important;
    font-size: 18px !important;
    line-height: 1;
    width: 50px !important;
    height: 50px !important;
    opacity: 1 !important;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-initialized .slick-slide {
    display: block;
}
.client-cart {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 10px 20px #0000001a;
    border-radius: 10px;
    margin: 10px;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
.client-icon {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.client-icon img {
    border-radius: 50%;
}
.slick-slide img {
    display: block;
}
.client-info h5 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    padding-top: 5px;
}
.client-info h6 {
    margin: 0px;
    padding: 0px;
    font-size: 11.5px;
    font-weight: 500;
}
.client-cart ul {
    margin-top: 10px;
    font-weight: 600;
    list-style: none;
}
.client-cart ul li {
    float: left;
    padding: 1px 2px;
}.client-cart ul li {
    float: left;
    padding: 1px 2px;
}   
.client-cart ul li.star-fill i {
    color: #ffc400;
}
.client-cart ul li.star i {
    font-size: 12px;
}
.client-cart p {
    margin: 0px;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 5px;
}
.service-icon-bottem {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}



/*end  slick slider */

/* home page footer icons */
.service-icon {
    width: 50px;
    height: 50px;
    /* background: red; */
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.service-icon i {

    border-radius: 50%;
    font-size: 29px;
    padding: 7px 0 0 7px;
}


.service-info h5 {
    margin: 0px;
    padding: 0px 0px 4px;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 700;
}
.service-info h6 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
}
footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer{
    background: #F7F7F7;
    
    padding: 72px 0 2px 0;

}
footer ul li a{
    color:black;
}
.footer-h4{
    font-size: 17px;
    font-weight: 600;
}
.footer-sercer-ul ul li{
    padding: 0 0 8px 0;
}
.dm-social li {
    float: left;
    padding: 0px 5px !important;
}

.main-footer ul li a {
    font-size: 13.5px;
    color: black!important;
    letter-spacing: 0.5px;
}
.main-footer a {
    color: black!important;
    
}
.dm-social li a i {
    font-size: 15px;
    color: black;
}



/* categories page */

.side-filter-vertical-border {
    border-right: 1px solid #808080d9;
}
.product-price {
    color: #3A474E;
}
.filter-product-title {
    
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: 700;
    padding: 20px 0 4px;

}
.brand-filter label {
    padding: 0 0 0 8px;
}
.font-down-icon-price {
    float: right;
    margin: -36px 0 0px 0px;
    font-size: 19px;
    cursor: pointer;
}
.side-filters h5{
    font-size: 16px;
    font-weight: 800;
}
.product-details-title h2{
    line-height: 0;
    padding: 0 0 7px 0;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.product-details .avaible h6{
    
    font-size: 15px;
    /* font-weight: 600; */
    line-height: 0;
    padding: 26px 0 1px 0;
    color: black;

}
.avaible .btn{
    border: 1px solid #F76263;
    color: #F76263;
}
.avaible h3{
    font-size: 19px;
    font-weight: 600;
}
.hart-shere{
    font-size: 25px;
    padding: 17px;

}